<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Spring Boot Uzduotis</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Pagrindinis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clients">Klientai</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/groups">Grupės</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registrations">Registracijos i treniruotes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workouts">Treniruotes</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Klientas</div>
                <div class="card-body">


                    <form method="post" th:object="${client}" th:action="${id != null} ? '/clients/' + ${id} + '/new' : '/clients/new'">

                        <div th:if="${#fields.hasErrors()}">
                            <ul>
                                <li th:each="error:${#fields.errors()}" th:text="${error}"></li>
                            </ul>

                        </div>

                        <div class="mb-3">
                            <label class="form-label">Vardas</label>
                            <input type="text" class="form-control" th:value="*{name}" name="name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Pavardė</label>
                            <input type="text" class="form-control" th:value="*{surname}" name="surname">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">El.paštas</label>
                            <input type="text" class="form-control" th:value="*{email}" name="email">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Telefonas</label>
                            <input type="text" class="form-control" th:value="*{phone}" name="phone">
                        </div>

                        <div th:if="${id == null}" class="mb-3">
                            <label class="form-label">Grupė</label>
                            <select name="group_id" class="form-control">
                                <option></option>
                                <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}" />
                            </select>
                        </div>

                        <button class="btn btn-success">Pridėti</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
